@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'KD Aureligena Script';
  src: url('/font/KD-Aureligena-Script.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NVN-Motherland-Signature';
  src: url('/font/NVN-Motherland-Signature.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  font-family: Georgia, serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
